.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 48%;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
}

h3 {
    text-align: center;
}

